/* Name: Spencer Fevreau
File: style.css
Date: 09 October 2024
Style for A Cool Looking Box - Web Development Fundamentals INFT 1206-06  */
html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  background: linear-gradient(0.40turn, #cc00ff, #9b17bd, #000000);
  background-color: purple;
  background-size: 100%;
  width: 200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align:center;
  color:white;
  border: 1px, #9b17bd;
  border-radius: 10px;
  box-shadow: 5px, 5px, 5px, black;
  font-size: 1.5rem;
  text-shadow: black
}