/* Name: Spencer Fevreau
File: style.css
Date: 09 October 2024
Style for A Cool Looking Box - Web Development Fundamentals INFT 1206-06  */
html {
  font-family: sans-serif;
}

/* Your CSS below here */