/* Name: Spencer Fevreau
File: style.css
Date: 09 October 2024
Style for A Cool Looking Box - Web Development Fundamentals INFT 1206-06  */
html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  display:block;
  background: linear-gradient(0.40turn, #00000000, #00000013, #00000042);
  background-color: #e00ae0;
  background-size: 100%;
  border: 1px solid #790879;
  border-radius: 10px;
  width: 200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1.5px 1.5px 1.5px black;
  text-align:center;
  color:white;
  font-size: 1.4rem; /* Calculated with px to REM calculator */
}